.summoner-table {
    display: flex;
    justify-content: center;
    background-color: rgb(72, 145, 179);
}

.circular-icon {
    border-radius: 50%;
    padding: 30px;
}

#karma {
    font-size: 90px;
    list-style-type: none;
    padding: 40px 30px;
    font-weight: 900;
}

.good-karma {
    color: rgb(42, 126, 42);
}

.bad-karma {
    color: rgba(168, 24, 24, 0.87);
}

.neutral-karma {
    color: rgb(255, 166, 0);
}
