[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
django = "*"
nose = "*"
httpretty = "*"
python-dotenv = "*"
mysqlclient = "==1.4.6"
mysql-client = "*"
mysql-connector-python = "*"
pylint = "*"

[requires]
python_version = "3.8"
